@model TurboViewModel

<div class="row">
    <div class="col-lg-6">
        <img class="col-md-6" src=@Model.MainImage />
    </div>
    <div class="col-lg-6">
        <h4>Description</h4>
        <p>@Model.Name</p>
        <p>@Model.Make</p>
        <p>@Model.ScrollType.ScrollType</p>
        <p>@Model.Quantity left</p>
        <p>$ @Model.Price</p>
    </div>
</div>

<br />

@if (User.IsInRole(AdminRoleName))
{
    <a class="btn btn-primary btn-md" asp-area="@AdminAreaName" asp-controller="Turbo" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
}

<br />

<button type="submit" onclick="addToCart(@Model.Id)" class="btn btn-primary btn-lg">ADD TO CART</button>

<script src="~/js/turbo.js"></script>