@model ShoppingCartViewModel

<h1>My Cart</h1>

@if (Model.ProductsInCart != null && Model.ProductsInCart.Count() > 0)
{
    <h3>Products: </h3>
    <table>
        <tbody>
            @foreach (ProductInCartViewModel product in Model.ProductsInCart)
            {
                <tr>
                    <td>
                        <p style="visibility: hidden" id="productId">@product.Id</p>
                    </td>
                    <td>@product.Name</td>
                    <td>$ @product.Price</td>
                    <td>
                        <a asp-area="" asp-controller="ShoppingCart" asp-action="RemoveProductFromCart" asp-route-id="@product.Id" asp-route-subCategory="@product.SubCategory.ToString()" class="btn btn-danger">Remove From Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <a asp-area="" asp-controller="Order" asp-action="PlaceOrder" class="btn btn-success">PLACE ORDER</a>
}
else
{
    <p class="text-warning text-md-start">Your Cart Is Empty</p>
    <a class="btn btn-primary btn-md" asp-area="" asp-controller="Category" asp-action="Index">Products</a>
}

