@model ConnectingRodViewModel

<div class="row">
    <div class="col-lg-6">
        <img class="col-md-6" src=@Model.MainImage />
    </div>
    <div class="col-lg-6">
        <h4>Description</h4>
        <p>@Model.Name</p>
        <p>@Model.Make</p>
        <p>Beam Type: @Model.BeamType</p>
        <p>Length: @Model.Length</p>
        <p>Piston Bolt Diameter: @Model.PistonBoltDiameter</p>
        <p>@Model.Quantity left</p>
        <p>$ @Model.Price</p>
    </div>
</div>

<br />

@if (User.IsInRole(AdminRoleName))
{
    <a class="btn btn-warning btn-md" asp-area="@AdminAreaName" asp-controller="ConnectingRod" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger btn-md" asp-area="@AdminAreaName" asp-controller="ConnectingRod" asp-action="DeleteView" asp-route-id="@Model.Id">Delete</a>

}

<br />
@if (!User.IsInRole(AdminRoleName))
{
    string btnId = "btn" + Model.SubCategory.ToString() + Model.Id;
    <button id=@btnId onclick="addToCart(@Model.Id, '@Model.SubCategory.ToString()')" type="submit" class="btn btn-primary btn-sm">ADD TO CART</button>
}

<script src="~/js/product.js"></script>