@using ECFPerformance.Infrastructure.Data.Enums
@model IEnumerable<AllProductsViewModel>

<partial name="_CategoriesPartial" />

<br />

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-3">
            <img class="col-md-6" src=@item.MainImage />
            <br />
            @{
                switch (item.SubCategory)
                {
                    case SubCategoryEnum.Turbo:
                        <a asp-area="" asp-controller="Turbo" asp-action="Details"
                           asp-route-id="@item.Id" class="col-md-6">@item.Name</a>
                        break;
                    default:
                        <p class="col-md-6">@item.Name</p>
                        break;
                }

                if (User.IsInRole(AdminRoleName))
                {
                    <p class="col-md-6">Quantity @item.Quantity</p>
                }
                else
                {
                    if(item.Quantity > 0)
                    {
                        <p class="col-md-6">Available</p>
                        if(item.SubCategory == SubCategoryEnum.Turbo)
                        {
                            string btnId = "btn" + item.Id;
                            <button id=@btnId onclick="addToCart(@item.Id)" type="submit" class="btn btn-primary btn-sm">ADD TO CART</button>
                        }
                    }
                    else
                    {
                        <p class="col-md-6">Out of stock</p>
                    }
                }
            }
            <p class="col-md-6">$ @item.Price</p>
            <br />
        </div>
    }
</div>

<script src="~/js/turbo.js"></script>